body{

    Font-size: 15px;
    font-weight: 400;
    padding: 0;
    margin: 0;

    font-family: 'Lexend Deca', sans-serif;
}

main{
    width: 1200px;
    max-width: 1440px;
    height: 600px;
   
    margin: auto;
    margin-top: 2%;
    
    box-shadow: rgba(0, 0, 0, 0.555) 0 2px 10px -4px;
    box-sizing: border-box;
}

.container{
    
    width: 80%;
    height: 70%;

    display: flex;
    
    margin: auto;
    
    padding: 20px;
    
    
}

.container section{
    width: auto;
    height: 520px;
    width: 33,3%;

    padding: 50px;
    margin: auto;

    box-sizing: border-box;
    

}

.container section p{
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);


    
}

.titulos{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5em;
    font-weight: 700;

    text-transform: uppercase;
    color: hsl(0, 0%, 95%);

}

.sedans{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    background: hsl(31, 77%, 52%);
}

.sedans button{
    color: hsl(31, 77%, 52%);
}

.suv{
    background: hsl(184, 100%, 22%);

}

.suv button{
    color: hsl(184, 100%, 22%);
}



.luxury{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    background:  hsl(179, 100%, 13%);

}

.luxury button{
    color: hsl(179, 100%, 13%);
}

button{
    width: 150px;
    height: 50px;
    margin-top: 50%;

    background: hsl(0, 0%, 95%);;
    
    font-size: 16px;
    
    border-radius: 50px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.459) 0px 2px 6px -2px;
}

button:hover{
    background: transparent;
    border: hsl(0, 0%, 95%) 1px solid;
    color: hsl(0, 0%, 95%);

    cursor: pointer;
    transition: 400ms;
}

@media (max-width: 1000px) and (min-width:750px){
    main{
        width: 100vw;
        margin: 1%;
    }
    .container{
        padding: 0;
        margin: 1%;
    }

}

@media (max-width: 750px) and (min-width: 200px){

    main{
        width: 90%;
        height: 90%;
    }

    .sedans{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;

    }

    
.luxury{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;

    background:  hsl(179, 100%, 13%);

}

    .container{
        display: block;          
    }

    .container section{
        width: auto;
        width: 33,3%;
    
        padding: 50px;
        margin: auto;
    
        box-sizing: border-box;
    }
    p{
        margin: 0px;
        padding: 0;
    }

    button{
        margin-left: auto;
        margin-right: auto;
        
    }


}
